<% include partials/header %>
<div class="row">
  <div class="col m2">

  </div>
   <div class="col m8">
     <div class="card blue-grey darken-1">
       <div class="card-content white-text">
         <span class="card-title">Sign In</span>
         <form class="signup" action="/signin" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <input id="email-signin" type="email" class="validate" name="email" value="y@gmail.com">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password-signin" type="password" class="validate" name="password" value="y">
                <label for="password">Password</label>
              </div>
            </div>
            <input type="submit" class="waves-effect waves-light btn" value="Submit">
         </form>
       </div>
     </div>
   </div>
   <div class="col m2">

   </div>
</div>
<% include partials/footer %>
